In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Series 一种类似于一维数组的对象，由一组数据及一组与之相关的数据标签（索引）组成
s1 = pd.Series(['a','b','c','d'])
print(s1)

0    a
1    b
2    c
3    d
dtype: object

In [2]:
# 指定索引
s2 = pd.Series([1,2,3,4],index=['a','b','c','d'])
print(s2)

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
# 也可以传入 dict，key 为索引，value 为值
s3 = pd.Series({"a":1,"b":2,"c":3})
print(s3)

a    1
b    2
c    3
dtype: int64

In [6]:
print(s1.index)
s1.values

RangeIndex(start=0, stop=4, step=1)

array(['a', 'b', 'c', 'd'], dtype=object)

In [7]:
print(s2.index)
s2.values

Index(['a', 'b', 'c', 'd'], dtype='object')

array([1, 2, 3, 4])

In [8]:
# DataFrame 一组数据与一对索引（行索引和列索引）组成的表格型数据结构
df1 = pd.DataFrame(['a','b','c','d'])
df1

   0
0  a
1  b
2  c
3  d

In [10]:
df2 = pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']]) # 嵌套列表也可以换成元组
df2

   0  1
0  a  A
1  b  B
2  c  C
3  d  D

In [11]:
# 指定行、列索引
df31 = pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']]) 
df31.columns=["小写","大写"]
df31

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

In [12]:
df32=pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']],index=["一","二","三","四"])
df32

   0  1
一  a  A
二  b  B
三  c  C
四  d  D

In [13]:
df33=pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']],index=["一","二","三","四"],columns=["小写","大写"])
df33

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

In [14]:
# 传入一个 dict
data = {"小写":['a','b','c','d'],"大写":['A','B','C','D']} # key 值相当于列索引
df41 = pd.DataFrame(data)
df41

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

In [15]:
df42 = pd.DataFrame(data,index=["一","二","三","四"])
df42

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

In [18]:
df42.columns

Index(['小写', '大写'], dtype='object')

In [17]:
df42.index

Index(['一', '二', '三', '四'], dtype='object')

In [19]:
df2.columns

RangeIndex(start=0, stop=2, step=1)

In [20]:
df2.index

RangeIndex(start=0, stop=4, step=1)