In [1]:
import pandas as pd
data = pd.read_csv('./data/order-2.csv',encoding='gbk',parse_dates=["成交时间"]) # parse_dates 将数据解析为时间格式
data=data.dropna()
data.head() # 预览数据
data.info() # 查看源数据类型

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3478 entries, 0 to 3477
Data columns (total 7 columns):
商品ID    3478 non-null int64
类别ID    3478 non-null int64
门店编号    3478 non-null object
单价      3478 non-null float64
销量      3478 non-null float64
成交时间    3478 non-null datetime64[ns]
订单ID    3478 non-null object
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 217.4+ KB

In [2]:
data.groupby('类别ID')['销量'].sum().reset_index()

          类别ID     销量
0    910000000   24.0
1    910010000    7.0
2    910010002    1.0
3    910010101    6.0
4    910010301    2.0
5    910010400    1.0
6    910010500    4.0
7    910020000   10.0
8    910020102    1.0
9    910020104   31.0
10   910020105    1.0
11   910020202    6.0
12   910020204    1.0
13   910020207   16.0
14   910020208    4.0
15   910020300   25.0
16   910020302    8.0
17   910020403    4.0
18   910020404    4.0
19   910030000   56.0
20   910030001   65.0
21   910030002   83.0
22   910030005    2.0
23   910030007    2.0
24   910030100   13.0
25   910030102    8.0
26   910030103    1.0
27   910030104    1.0
28   910030201    1.0
29   910030203    9.0
..         ...    ...
338  931070003    2.0
339  931070100    2.0
340  931070104    2.0
341  931070106    2.0
342  931080000    1.0
343  931080001    1.0
344  931080003    5.0
345  931080004    1.0
346  931080103    1.0
347  931080104    5.0
348  931080202    1.0
349  931080205    3.0
350  931080401    1.0
351  932010109    1.0
352  932010300    1.0
353  933040501    1.0
354  935010702    2.0
355  935011001    1.0
356  935020101    1.0
357  936000101    1.0
358  936000500    1.0
359  936000501    1.0
360  936010000    4.0
361  936010001    5.0
362  936010002    6.0
363  936030100    1.0
364  936050100    1.0
365  936080103    1.0
366  938030000    8.0
367  960000000  121.0

[368 rows x 2 columns]

In [3]:
data.groupby('类别ID')['销量'].sum().reset_index().sort_values(by='销量',ascending=False).head(10)

          类别ID       销量
240  922000003  425.328
239  922000002  206.424
251  923000006  190.294
216  915030104  175.059
238  922000001  121.355
367  960000000  121.000
234  920090000  111.565
249  923000002   91.847
237  922000000   86.395
247  923000000   85.845